<header class="w-full bg-white h-15 md:border-b md:dark:bg-gray-900 md:dark:border-gray-700">
  <nav class="w-full h-full px-4 mx-auto space-y-4 max-w-screen-2xl md:flex md:justify-between md:items-center md:space-y-0 md:space-x-10">
    <div class="flex justify-between w-full">
      <%= render "shared/logo" %>
    </div>
  </nav>
</header>
<div class="flex flex-col justify-center w-screen antialiased md:pb-5 md:pt-5 h-screen-headless md:mb-5 sm:m-auto md-w-375">
  <div class="flex flex-col h-full p-4 space-y-6 bg-white md-min-h-590 md:shadow">
    <div class="flex flex-col h-full">
      <div class="flex-1">
        <div class="w-full pb-4 md:pb-10">
          <h1 class="mt-8 text-xl text-center mb-2.5 font-bold">Check your email</h1>
          <p class="text-sm text-center text-gray-500">We’ve sent password reset instructions</p>
        </div>
        <div class="flex flex-wrap w-full">
          <p class="text-gray-500 text-md mb-9">Please click the link in your email to reset your password.</p>
          <p class="text-justify text-gray-500 text-md mb-9">If you do not receive the password reset message within
            a few moments, please check your spam folder.</p>
          <%= link_to "Return to sign in", new_user_session_path, class: "text-blue-500"  %>
        </div>
      </div>
    </div>
  </div>
</div>
