<div class="pb-10">
  <h1 class="mt-8 text-xl font-bold leading-tight md:text-2xl">When did you start doing hair?</h1>
</div>
<%= form_for(user, :url => url, :method => :put) do |f| %>
  <%= render "devise/shared/error_messages", resource: user %>
  <div class="flex flex-col-reverse w-full">
    <%= f.date_select :started_at, { discard_day: true, default: { day: 1 }, start_year: 1960 }, autofocus: true, class: "px-4 py-3 w-full rounded-lg mt-2 border focus:border-gray-500 focus:outline-none autofill:bg-white" %>
  </div>
<% end %>
