<%= turbo_frame_tag "availability" do %>
  <div class="w-full">
    <div id="view_availability" class="w-full">
      <%  has_availabilities = user.has_availabilities?  %>
      <div class="flex justify-between w-full">
        <div class="flex-1">
          <h2 class="pb-2 leading-3 roboto-font font-medium text-xs">Availability</h2>
          <% unless has_availabilities %>
            <p class="leading-2 roboto-font font-light text-sm sub-title-color">When are you available to clients?</p>
          <% end %>
        </div>
        <div class="flex items-start">
        <% if local_assigns[:editable].present? %>
          <%= link_to "Edit", profile_edit_path("availability"), class: "roboto-font text-blue-500 text-2xs font-normal" %>
        <% end %>
        </div>
      </div>
      <% if has_availabilities %>
        <ul class="w-full" style="max-width: 330px">
          <% user.availabilities.order(day: :asc).each do |availability| %>
            <li class="flex justify-between w-full py-4 border-t sub-title-color">
              <span class="roboto-font font-light text-sm">
                <%= availability.day %>
              </span>
              <span class="text-right roboto-font font-light text-sm">
                <% if availability.opened? %>
                  <%= "#{availability.open_at_in_text} - #{availability.close_at_in_text}" %>
                <% else %>
                  Not Available
                <% end %>
              </span>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
