<%= form_for(current_user, url: profile_users_path, html: { method: :put, class: "h-full flex flex-col" }, data: {"turbo-frame": "_top"}) do |f| %>
  <div class="flex items-center flex-1">
    <div class="pb-4 md:pb-10">
      <h1 class="mb-24 font-bold text-md">Reactivate your account?</h1>
      <p class="mb-24 text-sm">Your account was previously deactivated. By continuing, your account will be reactivated.</p>
    </div>
  </div>
  <div class="w-full text-right actions">
    <%= f.hidden_field :status, value: "activated" %>
    <%= f.submit "Continue", class: "text-black text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium" %>
  </div>
<% end %>
