<footer>
  <div class="max-w-screen-2xl flex flex-col-reverse md:flew-row items-center space-y-2 space-y-reverse md:space-y-0 md:justify-between roboto-font py-8 font-light px-4" style="font-size: 11px;">
    <div>© 2021 StylistPage, Inc</div>
    <ul class="flex space-x-3">
      <li>Feedback</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
      <li>Terms of Service</li>
    </ul>
  </div>
</footer>
