<footer>
  <div class="max-w-screen-2xl flex justify-between roboto-font py-8 font-light" style="font-size: 11px;">
    <div>© 2021 StylistPage, Inc</div>
    <ul class="flex space-x-3">
      <li>Feedback</li>
      <li>Contact</li>
      <li>Privacy Policy</li>
      <li>Terms of Service</li>
    </ul>
  </div>
</footer>
