<% flash.each do |msg_type, message| %>
  <% next if msg_type.to_s == "timedout" || message.blank?  %>
  <div x-data="{msg: true}" x-show="msg" class="alert <%= alert_class_for(msg_type) %>">
    <div class="container">
      <button class="close" data-dismiss="alert" @click.prevent="msg = false"><span>×</span></button>
      <% if message.is_a?(Array) %>
        <ul class="list-disc list-inside">
          <% message.each do |m| %>
            <li><%= m %></li>
          <% end %>
        </ul>
      <% else %>
        <%= message %>
      <% end %>
    </div>
  </div>
<% end %>
