<div class="text-center flex flex-col relative">
  <div class="py-11">
    <h1 class="robot-font font-bold md:font-normal text-3xl md:text-5xl md:text-black text-white px-4">Feedback</h1>
  </div>
</div>