<div class="h-48">
<% if field.attached? %>
  <%= image_tag field.data, class: "object-cover h-full w-full rounded-md", alt: "" %>
<% else %>
  <div class="object-cover h-full w-full rounded-md" style="background-color: #4F4F4E"></div>
<% end %>
</div>