<style>
  html {
    height: -webkit-fill-available;
  }
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
  }
  main {
    padding:20px;
    flex: 1;
  }
  header{
    padding:20px;
    background: blue;
  }
  footer{
    padding:20px;
    background: yellow;
  }
</style>
<header>HEADER GOES HERE</header>
<main>MAIN GOES HERE</main>
<footer>FOOTER GOES HERE</footer>
