<%= turbo_frame_tag "phone" do %>
  <div class="flex justify-center w-full">
    <div id="view_phone" class="flex justify-between w-full">
      <div class="flex-1">
        <h2 class="pb-4 leading-3 roboto-font font-medium text-xs">Phone</h2>
        <p class="leading-2 roboto-font font-light text-sm">
          <% if user.has_phone? %>
            <%= user.phone %>
          <% else %>
            <span class="sub-title-color">What number can clients contact you at?</span>
          <% end %>
        </p>
      </div>
      <div class="flex flex-col items-start">
        <% if editable %>
          <%= link_to "Edit", profile_edit_path("phone"), class: "text-blue-500 pb-2 text-sm w-full text-right" %>
        <% end %>
        <% if user.has_phone? && user.mobile?  %>
          <p class="text-sm text-gray-500"> <%= "#{user.phone_method.humanize} Preferred" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
