<% if user.has_full_address? && Array.wrap(user.address.full_address).join.strip != "" %>
  <%= render user.address, user: (defined?(:editable) && editable) ? user : nil %>
<% else %>
  <%= turbo_frame_tag "address" do %>
    <div class="w-full">
      <div id="view_address" class="flex justify-between w-full">
        <div class="flex-1">
          <h2 class="pb-2 leading-3 roboto-font font-medium text-xs">Address</h2>
          <p class="leading-2 roboto-font font-light text-sm sub-title-color">
              Where is your salon located?
          </p>
        </div>
        <div class="flex items-start">
          <% if (user_signed_in? && current_user == user) || (defined?(:editable) && editable) %>
            <%= link_to "Edit", profile_edit_path("address"), class: "roboto-font text-blue-500 text-2xs font-normal" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
