<div x-data="toggleBottomMenu()" x-init="init()"></div>
<div class="w-full min-h-screen flex flex-wrap flex-col px-4 justify-center items-center content-center">
  <div class="px-4">
    <%= image_tag "only-logo.svg", class: "w-full mx-auto", style: "max-width: 221px", alt: "Salon House Logo" %>
    <h1 class="roboto-font font-bold text-center md:text-9xl text-6xl">Be right back.</h1>
    <p class="md:text-5xl text-2xl roboto-font font-medium mt-8 min-height">
      We’re making updates to Salon House. Check back soon.
    </p>
  </div>
</div>
<script>
  function toggleBottomMenu(){
    return {
      init () {
        const bottomMenu = document.getElementById('bottomMenu');
        if (bottomMenu) {
          const currentValue = bottomMenu.__x.$data.bottomMenu;
          bottomMenu.__x.$data.bottomMenu = !currentValue;
        }
      }
    }
  }
</script>
