@import "../library/variables";
.admin .cell-label {
  padding-top: 0.15em;

  &:hover {
    a {
      color: $action-color;
    }

    svg {
      fill: $action-color;
      transform: rotate(180deg);
    }
  }

  a {
    color: inherit;
    display: inline-block;
    transition: color $base-duration $base-timing;
    width: 100%;
  }
}

.admin .cell-label--asc,
.admin .cell-label--desc {
  font-weight: $bold-font-weight;
}

.admin .cell-label__sort-indicator {
  float: right;
  margin-left: 5px;

  svg {
    fill: $hint-grey;
    height: 13px;
    transition: transform $base-duration $base-timing;
    width: 13px;
  }
}

.admin .cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.admin .cell-data--number,
.admin .cell-label--number {
  text-align: right;
}
