@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    min-height: 100vh;

    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    font-family: 'Raleway', sans-serif;
}
.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.sub-title-color {
    color: #4f4f4e;
}
.border-0\.5 {
    border-width: 0.5px;
}
.wrapper {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    height: -webkit-fill-available;
}
.h-15 {
    height: 3.75rem;
}
.h-screen-headless {
    height: calc(100% - 60px);
}
.border-color-circle {
    border-color: rgba(0, 0, 0, 0.6);
}
.color-circle {
    color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
    .h-screen-main {
        height: calc(100vh - 80px);
    }

    .md-bg-gray-light {
        background-color: #e5e5e5;
    }
    .h-screen-headless {
        max-height: 667px;
        overflow-y: auto;
    }
    .md-min-h-590 {
        min-height: 590px;
    }
    .md-w-375 {
        width: 375px;
    }
    .max-w-image-portfolio {
        width: 33.333333%;
    }
    .popup .max-w-image-portfolio {
        max-width: 499px;
    }
    .max-w-info-portfolio {
        width: 66.666667%;
    }
    .popup .max-w-info-portfolio {
        max-width: 375px;
    }
    .popup .portfolio-info {
        max-width: 874px;
        max-height: 499px;
    }
    .md-box-shadow-right {
        box-shadow: 4px 0 4px -4px rgb(0 0 0 / 25%);
    }

    .bg-md-gray-home {
        background: #fafafa;
    }
    .text-size-make-it-easy {
        font-size: 47px;
        line-height: 61px;
    }
    .space-showcase > :not([hidden]) ~ :not([hidden]) {
        margin-left: 5px;
    }
    .space-showcase > :not([hidden]) {
        margin-bottom: 5px;
    }
}
@media (max-width: 767px) {
    .min-h-main {
        height: calc(100% - 60px);
    }
    .h-screen-main {
        height: 100%;
    }
    .max-w-image-portfolio {
        width: 100%;
    }
    .max-w-info-portfolio {
        width: 100%;
    }
    .text-size-make-it-easy {
        font-size: 31px;
        font-size: 8vw;
    }
    .space-showcase > :not([hidden]) ~ :not([hidden]) {
        margin-left: 7px;
    }
    .space-showcase > :not([hidden]) {
        margin-bottom: 7px;
    }
}
.alert-danger,
.alert-warning,
.error_explanation {
    @apply bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative;
}
.alert-success {
    @apply bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative;
}
.alert-info {
    @apply bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative;
}
.bg-yellow-light {
    background-color: #ffde03;
}
turbo-frame {
    width: 100%;
}
.dz-preview {
    @apply flex flex-col items-center justify-center w-full h-full;
}
.dz-success-mark,
.dz-error-mark,
.dz-details {
    display: none;
}
.brightness-60 {
    --tw-brightness: brightness(0.6);
}
