<table border="0" cellspacing="0" cellpadding="0" style="font-family:sans-serif;color:#000000;border-collapse:collapse;margin:0 auto;padding:0">
  <tbody>
    <tr>
      <td align="top" style="font-family:sans-serif;color:#000000;text-align:center;margin:0;padding:0 0 16px">
        <h2 style="padding-botton: 20px">Password Reset</h2>
        <hr/>
      </td>
    </tr>
    <tr style="font-family:sans-serif;color:#000000;margin:0;padding:0">
      <td align="top" style="font-family:sans-serif;color:#000000;text-align:left;margin:0;padding:0 0 16px">
        <p style="font-family:sans-serif;color:#000000;font-weight: 700;font-size: 18px;line-height: 24px;margin-bottom:20px;padding:0">
          Hello <%= @resource.first_name %>,</p>
      </td>
    </tr>
    <tr style="font-family:sans-serif;color:#000000;margin:0;padding:0">
      <td align="top" style="font-family:sans-serif;color:#000000;text-align:left;margin:0;padding:0 0 16px">
        <p>
          A password reset for your account was requested
        </p>
        <p>
          Please click the button below to change your password
        </p>
        <p>
          Note that this password link is only valid for 24 hrs. After the time limit
          has expired , you will have to resubmit the request for a password reset
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <%= link_to 'Change Your Password', edit_password_url(@resource, reset_password_token: @token), style: "background: #FFDE03;color:#000000;
border-radius: 4px;;font-family:sans-serif;font-size:16px;font-weight:bold;text-decoration:none;width:100%; padding:20px 0; display: block;text-align: center;", target: "_blank" %>
      </td>
    </tr>
  </tbody>
</table>
