<%= turbo_frame_tag "specialty" do %>
  <div id="view_specialties" class="flex justify-between w-full">
    <div class="flex-1">
      <h2 class="pb-1 leading-3 text-normal">Specialties</h2>
      <p class="text-xs font-medium text-gray-500 md:text-sm leading-2">
        <%= render 'specialties/index', specialties: user.specialties %>
      </p>
    </div>
    <div class="flex items-center md:items-start">
      <%= link_to "Edit", profile_edit_path("specialty"), class: "text-blue-500 text-sm" %>
    </div>
  </div>
<% end %>
