<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="overflow-hidden">
    <%= render "shared/header" %>
    <main class="flex-1 lg:mt-20">
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
