<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="md:overflow-hidden">
    <div class="md:min-h-screen">
      <div class="md:flex md:justify-center">
        <%= render "shared/header" %>
        <main class="flex-1 mx-auto max-w-screen-2xl md:mt-20">
          <%= yield %>
        </main>
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>
