<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="md:h-screen">
    <%= render "shared/header" %>
    <div id="main" class="w-full mx-auto max-w-screen-2xl">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
