<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class="md:h-screen wrapper">
      <div id="main" class="w-full mx-auto min-h-main max-w-screen-2xl">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
