<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body class="bg-gray-200">
    <div class="pt-24 pb-5 min-h-screen font-sans antialiased bg-gray-100">
      <header class="w-full bg-white border-b dark:bg-gray-900 dark:border-gray-700" x-data="{ mobileMenuOpen : false }">
        <nav class="container py-2 px-6">
          <%= render "shared/logo" %>
        </nav>
      </header>
      <div class="flex flex-col justify-center p-4 mx-5 space-y-4 w-screen bg-white shadow sm:m-auto sm:w-96">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
